* {
  margin: 0;
  padding: 0;
  max-width: 1260px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
}

body {
  font-family: "Fira Code", monospace, sans-serif;
  width: 100%;
}

.clearfix {
  clear: both;
}

main {
  height: auto;
}

.headHR {
  border-top: 4px solid #f26520;
}

.index-main-section {
  height: auto;
}

.first-3-of-3 {
  margin-top: 2rem;
  display: block;
  width: 100%;
}

@media (min-width: 720px) {
  .first-3-of-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.first-2-of-3 {
  width: 100%;
}

.first-1-of-3 {
  width: 44rem;
  display: inline-block;
  margin-left: 6rem;
}

@media (min-width: 720px) {
  .first-1-of-3 {
    width: 100%;
  }
}

.row--first {
  width: 100%;
}

.row--first__slideshow-container {
  position: relative;
}

.row--first__slideshow-container h5 {
  position: absolute;
  top: 17rem;
  left: 3rem;
  font-size: 1rem;
  background-color: #f26520;
  padding: 0.5rem 1rem;
  color: #fff;
  font-weight: 400;
  border-radius: 5px;
}

@media (min-width: 960px) {
  .row--first__slideshow-container h5 {
    font-size: 1.5rem;
    top: 17rem;
    left: 5rem;
  }
}

@media (min-width: 720px) {
  .row--first__slideshow-container h5 {
    top: 17rem;
    left: 3rem;
    font-size: 1.3rem;
  }
}

.baseImage {
  width: 25rem;
  height: 21.5rem;
}

@media (min-width: 720px) {
  .baseImage {
    width: 100%;
  }
}

.row--second {
  width: 100%;
  height: 10vh;
}

.index__medee {
  width: 100%;
}

.index__medee__garchigMain {
  background-color: #f26520;
  width: 20%;
  font-size: 1rem;
  color: #fff;
  margin-left: 1rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  text-align: center;
}

.row--third {
  display: inline-block;
  width: 100%;
  margin-bottom: 2rem;
}

@media (min-width: 720px) {
  .row--third {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.zurag {
  display: none;
}

@media (min-width: 720px) {
  .zurag {
    width: 100%;
    display: block;
  }
}

.image-medee {
  width: 100%;
}

.medee {
  width: 100%;
  margin-left: 1rem;
}

.index_medee h3 {
  width: 25rem;
  color: #0099cc;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

@media (min-width: 960px) {
  .index_medee h3 {
    font-size: 1.5rem;
  }
}

@media (min-width: 720px) {
  .index_medee h3 {
    font-size: 1.2rem;
    width: 100%;
  }
}

.index__medee-text {
  width: 25rem;
  margin-top: 0.5rem;
  text-align: justify;
}

.index__medee-text a {
  background-color: #f26520;
  padding: 0rem 0.5rem;
  color: #fff;
}

.index__medee-text a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (min-width: 720px) {
  .index__medee-text {
    width: 100%;
    margin-top: 0.5rem;
    text-align: justify;
  }
}

.index__btn {
  color: #fff;
  background-color: #f9a01b;
  border: 0;
  padding: 0rem 0.625rem;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.index__btn--enter {
  background-color: #f26520;
  width: 25rem;
  margin-left: 0rem;
  padding: 0.5rem 1rem;
  border-radius: 3px;
}

@media (min-width: 720px) {
  .index__btn--enter {
    padding: 0.5rem 1rem;
    border-radius: 3px;
    margin-left: 0rem;
    width: 100%;
  }
}

.formLine {
  border: 1px solid #888;
  margin-top: -1rem;
  width: 25rem;
}

@media (min-width: 720px) {
  .formLine {
    border: 1px solid #888;
    margin-top: -1rem;
    width: 100%;
  }
}

.index__input {
  width: 25rem;
  margin-left: 0.5rem;
  font-size: 0.9rem;
  padding: 0.4rem 0.8rem;
}

.index__input--searchField {
  margin-top: 0.5rem;
  width: 25rem;
  margin-left: 0.5rem;
}

@media (min-width: 720px) {
  .index__input--searchField {
    margin-top: 1.5rem;
    margin-left: 1rem;
  }
}

@media (min-width: 960px) {
  .index__input {
    font-size: 1rem;
    margin-left: 1rem;
  }
}

@media (min-width: 720px) {
  .index__input {
    width: 90%;
    margin-left: 0.5rem;
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  }
}

.row-right-two {
  margin-top: 2rem;
}

form {
  margin-top: 1rem;
  width: 100%;
}

fieldset {
  border: 1px solid #888;
  width: 100%;
}

.form-group {
  margin-top: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 100%;
}

.form-group--enter {
  margin-left: 0.1rem;
}

@media (min-width: 720px) {
  .form-group--enter {
    margin-left: 0rem;
  }
}

.index__label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.index__label--sergeeh a {
  color: #0099cc;
  text-decoration: none;
}

.index__label--newMember a {
  margin-left: 0rem;
  color: #0099cc;
  text-decoration: none;
}

@media (min-width: 960px) {
  .index__label--newMember a {
    font-size: 1.1rem;
    margin-left: 1rem;
  }
}

.surtalchilgaa {
  margin-top: 2rem;
  height: 40vh;
  width: 25rem;
  background-color: red;
}

@media (min-width: 720px) {
  .surtalchilgaa {
    width: 100%;
  }
}

.medee-main {
  height: 140vh;
}

.medee-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.medee-container__first {
  width: 55%;
}

.medee-container__second {
  width: 35%;
}

.medee-container__first {
  width: 100%;
}

.medee-container__wrapper {
  margin-top: 20px;
  margin-bottom: 10px;
}

.medee-container_wrapper__img {
  float: left;
  width: 30%;
}

.medee-container_wrapper__text {
  float: right;
  width: 65%;
}

.medee-container_wrapper__text--paragraph {
  margin-right: 20px;
}

.medee-container_wrapper__text h3 {
  color: #0099cc;
  margin-bottom: 5px;
}

.medee-container_wrapper__text .index__medee-icon {
  margin-bottom: 5px;
}

.medee-container_wrapper__text--paragraph {
  text-align: justify;
  line-height: 1.5;
  margin-top: 5px;
}

.clearfix {
  clear: both;
}

.medee-page__img1 {
  height: auto;
  width: 100%;
  border-radius: 5px;
}

.bidniituhai-main {
  height: auto;
}

.mendchilgee {
  height: 80vh;
}

.mendchilgee h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.mendchilgee p {
  text-align: justify;
  line-height: 1.5;
}

.taniltsuulga {
  height: 200vh;
}

.taniltsuulga h1 {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  text-align: center;
}

.taniltsuulga p {
  text-align: justify;
  line-height: 1.5;
}

.udirdlagiinbag h1 {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.udidlagiinbaggishuud {
  width: 100%;
}

.udidlagiinbaggishuud__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.udidlagiinbaggishuud__row .udidlagiinbaggishuud__col-1 {
  width: 50%;
  height: 50%;
}

.udidlagiinbaggishuud__row .udidlagiinbaggishuud__col-1 .imgUdirdlaga {
  width: 20rem;
  height: 11.25rem;
}

.udidlagiinbaggishuud__row .udidlagiinbaggishuud__col-1 .imgUdirdlaga img {
  width: 20rem;
  height: 11.25rem;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.udidlagiinbaggishuud__row .udidlagiinbaggishuud__col-1 .udirdlagiinbag {
  text-align: center;
}

.udidlagiinbaggishuud__row .udidlagiinbaggishuud__col-1 .udirdlagiinbag h4 {
  margin-top: 1.5rem;
}

.udidlagiinbaggishuud__row .udidlagiinbaggishuud__col-2 {
  width: 50%;
  height: 50%;
}

.udidlagiinbaggishuud__row .udidlagiinbaggishuud__col-2 .imgUdirdlaga {
  width: 20rem;
  height: 11.25rem;
}

.udidlagiinbaggishuud__row .udidlagiinbaggishuud__col-2 .imgUdirdlaga img {
  width: 20rem;
  height: 11.25rem;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.udidlagiinbaggishuud__row .udidlagiinbaggishuud__col-2 .udirdlagiinbag {
  text-align: center;
}

.udidlagiinbaggishuud__row .udidlagiinbaggishuud__col-2 .udirdlagiinbag h4 {
  margin-top: 1.5rem;
}

.udirdlagiinbag {
  margin-bottom: 0;
}

.baiguullaga-main {
  height: auto;
  width: 100%;
}

.baiguullaga-main .container-baiguullagiinDurem {
  width: 80%;
  margin-top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

.baiguullaga-main .container-baiguullagiinDurem h3 {
  text-align: center;
  font-weight: 600;
}

.baiguullaga-main .container-baiguullagiinDurem h4 {
  text-align: center;
  margin-top: 1rem;
  font-weight: 400;
}

.baiguullaga-main .container-baiguullagiinDurem h5 {
  text-align: center;
  margin-top: 1rem;
  font-weight: 400;
}

.durem {
  font-weight: 700;
  text-align: center;
  margin-top: 2.5rem;
}

.durem--subtitle {
  text-align: left;
  font-size: 1rem;
}

.main-durem h6 {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1rem;
}

.main-durem ol {
  font-weight: 300;
  line-height: 1.5;
  text-align: justify;
}

.eszuindurem-main {
  height: auto;
}

.udirtgal {
  margin-top: 1rem;
  font-weight: 300;
  line-height: 1.5;
  text-align: justify;
}

.udirtgal--subtitle {
  font-weight: 600;
}

.eszuindurem li {
  margin-left: 1.8rem;
}

.uilybdal-main {
  height: 100vh;
}

.huraamj-main {
  height: 100vh;
}

.contact-main {
  height: auto;
}

.contact-map {
  width: 100%;
  height: 50vh;
}

.contact-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50vh;
  margin-top: 40px;
}

.contact-6-info {
  width: 100%;
  line-height: 1.5;
  margin-left: 40px;
}

.contact-6-info p {
  margin-bottom: 5px;
}

.contact-6-email {
  width: 100%;
  margin-left: 40px;
  margin-right: 40px;
}

.contact-hr {
  margin-top: -20px;
  margin-bottom: 20px;
}

.form-head-group {
  display: inline-block;
  width: 32%;
  margin-bottom: 10px;
  font-size: 13px;
  padding: 6px 12px;
  height: 44px;
}

.form-area {
  width: 100%;
  font-size: 13px;
  height: 150px;
  padding: 6px 12px;
}

.btn-ilgeeh {
  background-color: #f26520;
  color: #fff;
  font-size: 14px;
  padding: 6px 12px;
  font-weight: 600;
  border: none;
}

.btn-ilgeeh:hover {
  color: #fff;
  background-color: #f9a01b;
}

.contactHead {
  font-size: 14px;
  background-color: #f9a01b;
  color: #fff;
  padding: 6px 12px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0;
}

.contactHead-contact {
  width: 150px;
}

.contactHead-info {
  width: 250px;
}

.contact-type {
  margin-left: 15px;
}

.contact-phone {
  margin-left: 20px;
}

.form-control {
  font-size: 1rem;
}

.logo {
  float: left;
  width: 10%;
}

.header-text {
  float: right;
  width: 90%;
}

.socialMediaParent {
  width: 40px;
  height: 40px;
  position: fixed;
  background-repeat: no-repeat;
  top: 300px;
  right: 0rem;
}

@media (max-width: 1750px) {
  .socialMediaParent {
    display: none;
  }
}

.socialMedia1 {
  width: 40px;
  height: 40px;
  position: fixed;
  background-repeat: no-repeat;
  top: 300px;
  left: 100rem;
}

.socialMedia2 {
  width: 40px;
  height: 40px;
  position: fixed;
  background-repeat: no-repeat;
  top: 345px;
  left: 100rem;
}

.socialMedia3 {
  width: 40px;
  height: 40px;
  position: fixed;
  background-repeat: no-repeat;
  top: 390px;
  left: 100rem;
}

.socialMedia4 {
  width: 40px;
  height: 40px;
  position: fixed;
  background-repeat: no-repeat;
  top: 435px;
  left: 100rem;
}

footer {
  background-color: #404048;
  margin-top: 2rem;
}

.footer-2-of-2 {
  display: inline-block;
  width: 100%;
}

@media (min-width: 960px) {
  .footer-2-of-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-1-of-2 {
  display: inline-block;
  width: 100%;
  margin-left: 1rem;
}

@media (min-width: 720px) {
  .footer-1-of-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer__body {
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.footer__body__header {
  font-size: 0.875rem;
  font-weight: 700;
  color: #606068;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  margin-top: 2.18rem;
  padding-bottom: 0.625rem;
  color: #a5a5ae;
}

.footer__body--borderbottom {
  margin-bottom: 0.313rem;
  border-bottom: 5px solid #a5a5ae;
}

.footer__body--company {
  margin-bottom: 0.31rem;
}

.footer__body--company a {
  color: #606068;
  text-decoration: none;
  padding-bottom: 0.625rem;
  padding-top: 0.625rem;
  font-size: 0.813rem;
}

.footer__body--company i {
  color: #606068;
  padding-bottom: 0.625rem;
  padding-top: 0.625rem;
  font-size: 0.813rem;
}

.footer__body--company:hover {
  background-color: #f26520;
  padding: 0.3125rem 0.125rem 0.3125rem;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.footer__body--company:hover a,
.footer__body--company:hover i {
  color: #fff;
  margin-left: 10px;
}

.footer-developer {
  background-color: #303038;
}

.footer-developer--name {
  color: #606068;
  font-size: 0.813rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  width: 25rem;
  margin-left: auto;
  margin-right: auto;
}
