$mainOrange: #f26520;
$secondaryOrange: #f9a01b;
$fontColor: #777777;
$fontColorHover: #f0f0f8;
$fontColorSubtitle: #0099cc;
$fontColorP: #606068;
$fontColorFooter: #8b8b92;
$footeBackground: #404048;
$fontColorFooterA: #a5a5ae;
