@import "../base/base";
footer {
  background-color: $footeBackground;
  margin-top: 2rem;
}
.footer-2-of-2 {
  display: inline-block;
  width: 100%;
  @media (min-width: 960px) {
    display: flex;
  }
}
.footer-1-of-2 {
  display: inline-block;
  width: 100%;
  margin-left: 1rem;
  @media (min-width: 720px) {
    display: flex;
  }
}

.footer__body {
  width: 100%;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;

  &__header {
    font-size: 0.875rem;
    font-weight: 700;
    color: $fontColorP;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    margin-top: 2.18rem;
    padding-bottom: 0.625rem;
    color: $fontColorFooterA;
  }
  &--borderbottom {
    margin-bottom: 0.313rem;
    border-bottom: 5px solid $fontColorFooterA;
  }
  &--company {
    margin-bottom: 0.31rem;

    & a {
      color: $fontColorP;
      text-decoration: none;
      padding-bottom: 0.625rem;
      padding-top: 0.625rem;
      font-size: 0.813rem;
    }
    & i {
      color: $fontColorP;
      padding-bottom: 0.625rem;
      padding-top: 0.625rem;
      font-size: 0.813rem;
    }
    &:hover {
      background-color: $mainOrange;
      padding: 0.3125rem 0.125rem 0.3125rem;
      transform: scale(1.01);

      & a,
      i {
        color: #fff;
        margin-left: 10px;
      }
    }
  }
}
.footer-developer {
  background-color: #303038;
  &--name {
    color: $fontColorP;
    font-size: 0.813rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    width: 25rem;
    margin-left: auto;
    margin-right: auto;
  }
}
