.index-main-section {
  height: auto;
}
.first-3-of-3 {
  margin-top: 2rem;
  display: block;
  width: 100%;
  @media (min-width: 720px) {
    display: flex;
  }
}
.first-2-of-3 {
  width: 100%;
}
.first-1-of-3 {
  width: 44rem;
  display: inline-block;
  margin-left: 6rem;

  @media (min-width: 720px) {
    width: 100%;
  }
}

.row--first {
  width: 100%;
  &__slideshow-container {
    position: relative;
    & h5 {
      position: absolute;
      top: 17rem;
      left: 3rem;
      font-size: 1rem;
      background-color: $mainOrange;
      padding: 0.5rem 1rem;
      color: #fff;
      font-weight: 400;
      border-radius: 5px;
      @media (min-width: 960px) {
        font-size: 1.5rem;
        top: 17rem;
        left: 5rem;
      }
      @media (min-width: 720px) {
        top: 17rem;
        left: 3rem;
        font-size: 1.3rem;
      }
    }
  }
}
.baseImage {
  width: 25rem;
  height: 21.5rem;
  @media (min-width: 720px) {
    width: 100%;
  }
}
.row--second {
  width: 100%;
  height: 10vh;
}
.index__medee {
  width: 100%;
  &__garchigMain {
    background-color: $mainOrange;
    width: 20%;
    font-size: 1rem;
    color: #fff;
    margin-left: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
  }
}
.row--third {
  display: inline-block;
  width: 100%;
  margin-bottom: 2rem;
  @media (min-width: 720px) {
    display: flex;
  }
}
.zurag {
  display: none;
  @media (min-width: 720px) {
    width: 100%;
    display: block;
  }
}

.image-medee {
  width: 100%;
}
.medee {
  width: 100%;
  margin-left: 1rem;
}
.index_medee h3 {
  width: 25rem;
  color: $fontColorSubtitle;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  @media (min-width: 960px) {
    font-size: 1.5rem;
  }
  @media (min-width: 720px) {
    font-size: 1.2rem;
    width: 100%;
  }
}
.index__medee-text {
  width: 25rem;
  margin-top: 0.5rem;
  text-align: justify;
  a {
    background-color: $mainOrange;
    padding: 0rem 0.5rem;
    color: #fff;
    &:hover {
      transform: scale(1.1);
    }
  }
  @media (min-width: 720px) {
    width: 100%;
    margin-top: 0.5rem;
    text-align: justify;
  }
}

///// right tal
.index__btn {
  color: #fff;
  background-color: $secondaryOrange;
  border: 0;
  padding: 0rem 0.625rem;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  &--enter {
    background-color: $mainOrange;
    width: 25rem;
    margin-left: 0rem;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    @media (min-width: 720px) {
      padding: 0.5rem 1rem;
      border-radius: 3px;
      margin-left: 0rem;
      width: 100%;
    }
  }
}
.formLine {
  border: 1px solid #888;
  margin-top: -1rem;
  width: 25rem;
  @media (min-width: 720px) {
    border: 1px solid #888;
    margin-top: -1rem;
    width: 100%;
  }
}
.index__input {
  width: 25rem;
  margin-left: 0.5rem;
  font-size: 0.9rem;
  padding: 0.4rem 0.8rem;
  &--searchField {
    margin-top: 0.5rem;
    width: 25rem;
    margin-left: 0.5rem;
    @media (min-width: 720px) {
      margin-top: 1.5rem;
      margin-left: 1rem;
    }
  }

  @media (min-width: 960px) {
    font-size: 1rem;
    margin-left: 1rem;
  }
  @media (min-width: 720px) {
    width: 90%;
    margin-left: 0.5rem;
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  }
}
.row-right-two {
  margin-top: 2rem;
}
form {
  margin-top: 1rem;
  width: 100%;
}
fieldset {
  border: 1px solid #888;
  width: 100%;
}
.form-group {
  margin-top: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 100%;
  &--enter {
    margin-left: 0.1rem;

    @media (min-width: 720px) {
      margin-left: 0rem;
    }
  }
}

.index__label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  &--sergeeh {
    a {
      color: $fontColorSubtitle;
      text-decoration: none;
    }
  }
  &--newMember {
    a {
      margin-left: 0rem;
      color: $fontColorSubtitle;
      text-decoration: none;
      @media (min-width: 960px) {
        font-size: 1.1rem;
        margin-left: 1rem;
      }
    }
  }
}
.surtalchilgaa {
  margin-top: 2rem;
  height: 40vh;
  width: 25rem;
  background-color: red;
  @media (min-width: 720px) {
    width: 100%;
  }
}
