@import "../base/base";
.medee-main {
  height: auto;
}
.medee-container {
  display: inline-block;
  width: 100%;
  &__first {
    width: 55%;
  }
  &__second {
    width: 35%;
  }
  @media (min-width: 960px) {
    display: flex;
  }
}
.medee-container__first {
  width: 100%;
}
// .medee-container__wrapper {
//   display: flex;
//   width: 100%;
//   &__img {
//     width: 10%;
//   }
//   &__text {
//     width: 85%;
//   }
// }
.medee-container__wrapper {
  margin-top: 20px;
  margin-bottom: 10px;
}

.medee-container_wrapper__img {
  width: 90%;
  margin: 0 auto;
  @media (min-width: 960px) {
    float: left;
    width: 30%;
  }
}

.medee-container_wrapper__text {
  width: 90%;
  margin: 0 auto;
  &--paragraph {
    margin-right: 20px;
  }
  & h3 {
    color: $fontColorSubtitle;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 1rem;
    @media (min-width: 720px) {
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
  .index__medee-icon {
    margin-bottom: 5px;
  }
  &--paragraph {
    text-align: justify;
    line-height: 1.5;
    margin-top: 5px;
  }
  @media (min-width: 960px) {
    float: left;
    width: 60%;
    margin-left: 5%;
  }
}
.clearfix {
  clear: both;
}
.medee-page__img1 {
  height: auto;
  width: 100%;
  border-radius: 5px;
}
#medee_page_second_column {
  display: none;
  @media (min-width: 960px) {
    display: block;
  }
}
