.socialMediaParent {
  width: 40px;
  height: 40px;
  position: fixed;
  background-repeat: no-repeat;
  top: 300px;
  right: 15rem;
  @media (max-width: 1800px) {
    display: none;
  }
}
.socialMedia1 {
  width: 40px;
  height: 40px;
  position: fixed;
  background-repeat: no-repeat;
  top: 300px;
}
.socialMedia2 {
  width: 40px;
  height: 40px;
  position: fixed;
  background-repeat: no-repeat;
  top: 345px;
}
.socialMedia3 {
  width: 40px;
  height: 40px;
  position: fixed;
  background-repeat: no-repeat;
  top: 390px;
}
.socialMedia4 {
  width: 40px;
  height: 40px;
  position: fixed;
  background-repeat: no-repeat;
  top: 435px;
}
