.socialMediaParent {
  width: 40px;
  height: 40px;
  position: relative;
  background-repeat: no-repeat;
  top: 300px;
  left: 100rem;
  @media (min-width: 1700px) {
    left: 95rem;
  }
  @media (min-width: 1600px) {
    left: 90rem;
  }
}
.socialMedia1 {
  width: 40px;
  height: 40px;
  position: fixed;
  background-repeat: no-repeat;
  top: 300px;
  left: 100rem;
  @media (min-width: 1700px) {
    left: 95rem;
  }
  @media (min-width: 1600px) {
    left: 90rem;
  }
}
.socialMedia2 {
  width: 40px;
  height: 40px;
  position: fixed;
  background-repeat: no-repeat;
  top: 345px;
  left: 100rem;
  @media (min-width: 1700px) {
    left: 95rem;
  }
  @media (min-width: 1600px) {
    left: 90rem;
  }
}
.socialMedia3 {
  width: 40px;
  height: 40px;
  position: fixed;
  background-repeat: no-repeat;
  top: 390px;
  left: 100rem;
  @media (min-width: 1700px) {
    left: 95rem;
  }
  @media (min-width: 1600px) {
    left: 90rem;
  }
}
.socialMedia4 {
  width: 40px;
  height: 40px;
  position: fixed;
  background-repeat: no-repeat;
  top: 435px;
  left: 100rem;
  @media (min-width: 1700px) {
    left: 95rem;
  }
  @media (min-width: 1600px) {
    left: 90rem;
  }
}
